.border-radius-left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.border-radius-right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.store-checkout-2-navigation > div {
  padding: 0.2em 2em;
  font-weight: 600;
}

.store-checkout-2-information-checkbox {
  margin-top: 0.7em;
}

.back-arrow {
  margin-right: 0.5em;
  margin-top: 2em;
  width: 0.7em;
  height: 0.7em;
  display: inline-block;
  transform: rotate(-45deg);
  border-left: 2px solid var(--main-green-color);
  border-top: 2px solid var(--main-green-color);
}

.return-to-cart a:active,
.return-to-cart a:visited {
  color: var(--main-green-color);
}

.continue-to-shipping {
  position: relative;
  background: var(--main-gold-color);
  color: #ffffff;
  padding: 0.5em 1em;
  height: 1em;
  top: 1.5em;
  right: 1.5em;
}

.continue-to-shipping a:active,
.continue-to-shipping a:visited {
  color: #fff;
}

.continue-to-shipping::after {
  content: '';
  position: absolute;
  right: -1em;
  z-index: 3;
  top: 0.4em;
  width: 0;
  height: 0;
  border-top: 0.6em solid transparent;
  border-bottom: 0.6em solid transparent;
  border-left: 1em solid var(--main-gold-color);
  clear: both;
}

.store-checkout-2-item-title {
  font-weight: 600;
  text-transform: uppercase;
}

.store-checkout-2-item-description {
  font-size: 0.7em;
  color: var(--main-gray-color);
  flex-basis: 40%;
}

.store-checkout-2-item-image {
  position: relative;
  width: 3em;
  height: 4em;
  background: lightgray;
  flex-shrink: 0;
}

.store-checkout-2-item-image-badge {
  display: inline-block;
  position: absolute;
  bottom: -0.3em;
  right: -0.3em;
  width: 1em;
  height: 1em;
  color: #ffffff;
  background: red;
  border-radius: 50%;
}

.discount-button {
  /* padding: 1em 2em; */
  height: 50px;
}

.store-checkout-2-total-title {
  font-size: 1.5em;
}

.footer-store-checkout-2 {
  color: #ffffff;
  background-image: url('../../images/home-about-2-header.png');
  background-position: bottom;
  background-size: 100vw;
}

.footer-store-checkout-2 a {
  margin-right: 1em;
}

.footer-store-checkout-2 a:visited,
.footer-store-checkout-2 a:active {
  color: #fff;
}
