:root {
  --main-green-color: #849e31;
  --main-gray-color: #6f7579;
  --main-blue-color: #2988bf;
  --main-gold-color: #ad872d;
  --main-red-color: #9e272d;
  --light-green-color: #e9ece0;
}

.green {
  color: var(--main-green-color);
}

.blue {
  color: var(--main-blue-color);
}

.gray {
  color: var(--main-gray-color);
}

.gold {
  color: var(--main-gold-color);
}
