body {
  margin: 0;
  font-size: 1.7em;
  font-family: Arabic;
}

.container {
  padding: 2em 5em;
}

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.initial-header {
  height: 2em;
}

.header-menu {
  background: #ffffff;
  font-size: 1em;
}

.header-menu-container {
  width: 80%;
  margin: auto;
  padding: 1.2em 0;
  text-align: center;
}

.header-menu-container > div {
  position: relative;
  min-width: 6em;
}

.header-menu-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2em;
  height: 1.2em;
  padding: 0.1em;
  text-align: center;
  border-radius: 50%;
  background: red;
  color: #ffffff;
  position: absolute;
  left: -0.5em;
  top: 0.2em;
  font-family: MetaProBold;
  font-size: 0.6em;
}

footer {
  height: 2em;
  display: flex;
}

footer .container {
  padding: 0 5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-section textarea {
  margin-top: 1em;
  margin-bottom: 1em;
}

.contact-section {
  font-size: 1.5em;
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

button {
  border: 0;
  color: #ffffff;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  font-family: ArabicBold;
}

button:focus {
  outline: none;
}

.btn-green {
  background: var(--main-green-color);
  color: #ffffff;
}

.btn-gray {
  background: var(--main-gray-color);
  color: #ffffff;
}

.btn-gold {
  background: var(--main-gold-color);
  color: #ffffff;
}

.btn-red {
  background: var(--main-red-color);
  color: #ffffff;
}

.background-image-position {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-size: 2.5em;
  font-family: ArabicBold;
}

.subtitle {
  font-size: 2em;
  font-family: ArabicBold;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.white {
  color: #ffffff;
}

.margin-left-1 {
  margin-left: 1em;
}

.margin-right-1 {
  margin-right: 1em;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.margin-top-1 {
  margin-top: 1em;
}

.margin-2 {
  margin: 2em;
}

input:active,
input:focus,
select:active,
select:focus {
  outline: none;
  border: 2px solid var(--main-green-color);
}

a {
  text-decoration: none;
}

