body {
  background: gray;
  margin: 0;
  line-height: 2em;
}

.container {
  padding: 5em;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.header-menu {
  background: #ffffff;
}

.header-menu-container {
  width: 80%;
  margin: auto;
  padding: 2em 0;
  text-align: center;
}

.header-menu-container > div {
  position: relative;
  font-size: 1.5em;
  min-width: 6em;
}

.header-menu-container .header-logo {
  font-size: 3em;
}

.header-menu-badge {
  width: 1em;
  height: 1em;
  padding: 0.1em;
  text-align: center;
  border-radius: 50%;
  background: red;
  color: #ffffff;
  position: absolute;
  left: -1em;
  top: 0;
}

footer {
  font-size: 1.2em;
}

footer .container {
  padding: 2em 5em;
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

button {
  border: 0;
  color: #ffffff;
  padding: 0.5em;
  border-radius: 3px;
}

.btn-green {
  background: var(--main-green-color);
}

.btn-gray {
  background: var(--main-gray-color);
}

.background-image-position {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
