body {
  margin: 0;
  font-size: 1.7em;
  font-family: Arabic;
}

.header-logo-mobile {
  display: none;
}

.container {
  padding: 2em 5em;
}

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-3 {
  flex-grow: 3;
}

.border-top-none {
  border-top: none;
}

.border-bottom-none {
  border-bottom: none;
}

.border-none {
  border: none;
}

.initial-header {
  height: 2em;
}

.header-menu {
  background: #ffffff;
  font-size: 1.5em;
}

.header-menu-container {
  width: 80%;
  margin: auto;
  padding: 0.7em 0;
  text-align: center;
}

.header-menu-container > div {
  position: relative;
}

.header-menu-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2em;
  height: 1.2em;
  padding: 0.1em;
  text-align: center;
  border-radius: 50%;
  background: red;
  color: #ffffff;
  position: absolute;
  left: -2em;
  top: 0.2em;
  font-family: MetaProBold;
  font-size: 0.6em;
}

.header-logo {
  font-size: 0.7em;
}

.header-logo img {
  max-width: 10vw;
  padding-bottom: 0.1em;
}

.header-menu-item {
  position: relative;
  cursor: pointer;
}

.header-menu-item:hover::after {
  content: '';
  position: absolute;
  bottom: -0.1em;
  left: 40%;
  z-index: 3;
  width: 20%;
  border-bottom: 0.2em solid var(--main-green-color);
  border-radius: 32%;
  clear: both;
}

footer {
  height: 2em;
  display: flex;
  font-size: 1.3em;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}

footer .container {
  padding: 0 5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-section textarea {
  margin-top: 1em;
  margin-bottom: 1em;
  outline: none;
}

.contact-section {
  font-size: 1.5em;
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

button {
  border: 0;
  color: #ffffff;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  font-family: ArabicBold;
}

button:focus {
  outline: none;
}

.btn-green {
  background: var(--main-green-color);
  color: #ffffff;
}

.btn-gray {
  background: var(--main-gray-color);
  color: #ffffff;
}

.btn-gold {
  background: var(--main-gold-color);
  color: #ffffff;
}

.btn-red {
  background: var(--main-red-color);
  color: #ffffff;
}

.background-image-position {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-size: 2.5em;
  font-family: ArabicBold;
}

.subtitle {
  font-size: 2em;
  font-family: ArabicBold;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.white {
  color: #ffffff;
}

.margin-left-1 {
  margin-left: 1em;
}

.margin-right-1 {
  margin-right: 1em;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.margin-top-1 {
  margin-top: 1em;
}

.margin-2 {
  margin: 2em;
}

.padding-top-0 {
  padding-top: 0;
}

.padding-top-2 {
  padding-top: 2em;
}

.padding-bottom-2 {
  padding-bottom: 2em;
}

input:active,
input:focus,
select:active,
select:focus {
  outline: none;
  border: 2px solid var(--main-green-color);
}

a {
  text-decoration: none;
}

.contact-section {
  font-size: 1.3em;
}

.contact-logo img {
  padding: 0.3em 0;
  max-width: 10vw;
}

.contact-items-container {
  margin-top: 1em;
  width: 80%;
  padding-top: 1em;
  border-top: 1px solid #ffffff;
}

.contact-stamp img,
.guarantee-stamp img {
  max-width: 8vw;
}
