/* STORE CHECKOUT */

.navigation-active {
  position: relative;
  background: #ffffff;
  color: var(--main-green-color);
  height: 1em;
}

.navigavion-active-arrow::after {
  content: '';
  position: absolute;
  right: -0.3em;
  z-index: 3;
  top: 0.5em;
  width: 0;
  height: 0;
  border-top: 0.3em solid transparent;
  border-bottom: 0.3em solid transparent;
  border-right: 0.3em solid var(--main-green-color);
  clear: both;
}

.navigation-next-dark {
  background: var(--main-gray-color);
  color: #ffffff;
  height: 1em;
}

.navigation-next {
  background: var(--light-gray-color);
  color: #ffffff;
  height: 1em;
}

.navigation-prev {
  position: relative;
  background: var(--main-green-color);
  color: #ffffff;
  height: 1em;
}

.navigation-right-border {
  border-right: 3px solid #fff;
}

.navigation-prev-arrow::after {
  content: '';
  position: absolute;
  left: -0.3em;
  z-index: 3;
  top: 0.5em;
  width: 0;
  height: 0;
  border-top: 0.3em solid transparent;
  border-bottom: 0.3em solid transparent;
  border-right: 0.3em solid var(--main-green-color);
  clear: both;
}

.opacity-07 {
  opacity: 0.7;
}

.store-checkout-initial-header {
  background: var(--main-green-color);
}

.store-checkout-logo {
  margin-top: 2em;
}

.store-checkout-title {
  color: var(--main-green-color);
  text-transform: uppercase;
  font-size: 1.2em;
}

.store-checkout-input {
  font-size: 0.7em;
  padding: 0 0.6em;
  width: 100%;
  color: var(--light-gray-color);
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid var(--light-gray-color);
  height: 50px;
}

.store-checkout-selector {
  font-size: 0.7em;
  padding: 0 0.6em;
  height: 50px;
  width: 100%;
  color: var(--light-gray-color);
  background: transparent;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid var(--light-gray-color);
}

.border-radius-left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.border-radius-right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.border-radius-left-top {
  border-top-left-radius: 5px;
}

.border-radius-right-top {
  border-top-right-radius: 5px;
}

.border-radius-left-bottom {
  border-bottom-left-radius: 5px;
}

.border-radius-right-bottom {
  border-bottom-right-radius: 5px;
}

.store-checkout-navigation > div {
  padding: 0.3em 1.8em;
  font-weight: 600;
}

.store-checkout-information-checkbox {
  margin-top: 0.7em;
}

.footer-store-checkout {
  color: #ffffff;
  /* background-image: url('./images/home-about-2-header.png'); */
  background: var(--main-green-color);
  background-position: bottom;
  background-size: 100vw;
}

.footer-store-checkout a {
  font-size: 0.8em !important;
  margin-right: 1em;
}

.footer-store-checkout a:visited,
.footer-store-checkout a:active {
  color: #fff;
}

.back-arrow {
  margin-right: 0.5em;
  margin-top: 2em;
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  transform: rotate(-45deg);
  border-right: 2px solid var(--main-green-color);
  border-bottom: 2px solid var(--main-green-color);
}

.return-to-cart a:active,
.return-to-cart a:visited {
  color: var(--main-green-color);
}

.continue-to-shipping {
  position: relative;
  background: var(--main-gold-color);
  color: #ffffff;
  padding: 0.3em 1em;
  height: 1em;
  top: 1.5em;
  right: -0.4em;
}

.continue-to-shipping a:active,
.continue-to-shipping a:visited,
.pay-now a:active,
.pay-now a:visited {
  color: #fff;
}

.continue-to-shipping::after {
  content: '';
  position: absolute;
  left: -0.3em;
  z-index: 3;
  top: 0.5em;
  width: 0;
  height: 0;
  border-top: 0.3em solid transparent;
  border-bottom: 0.3em solid transparent;
  border-right: 0.3em solid var(--main-gold-color);
  clear: both;
}

.pay-now {
  position: relative;
  background: var(--main-gold-color);
  color: #ffffff;
  padding: 0.3em 1em;
  height: 1em;
  top: 1.5em;
  right: 0em;
}

.store-checkout-item-title {
  font-weight: 600;
  text-transform: uppercase;
}

.store-checkout-item-description {
  font-size: 0.7em;
  color: var(--main-gray-color);
  flex-basis: 40%;
}

.store-checkout-item-image {
  position: relative;
  width: 3em;
  height: 4em;
  background: lightgray;
  flex-shrink: 0;
}

.store-checkout-item-image-badge {
  display: inline-block;
  position: absolute;
  bottom: -0.3em;
  right: -0.3em;
  width: 1em;
  height: 1em;
  color: #ffffff;
  background: red;
  border-radius: 50%;
}

.discount-button {
  height: 50px;
}

.store-checkout-total-title {
  font-size: 1.5em;
}

.store-checkout-info {
  border: 1px solid var(--light-gray-color);
  padding: 0.2em 0;
}

.store-checkout-info-title {
  min-width: 3.5em;
}

.store-checkout-info-button {
  background-color: #ffffff;
}

.store-checkout-radio {
  font-size: 0.7em;
  padding: 0 0.6em;
  border: 1px solid var(--light-gray-color);
  min-height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.store-checkout-input-container {
  border: 1px solid var(--light-gray-color);
  padding: 0 0.6em 1em 0.6em;
}

.checkmark-price {
  position: absolute;
  left: 1em;
}

.store-total-price {
  font-size: 0.7em;
}

.reviews-container {
  width: 50%;
}

.reviews-text {
  font-size: 0.7em;
}

.reviews-button {
  width: 100%;
}

.rewiew-stars {
  margin-top: -0.2em;
}

.store-5-item-image {
  position: relative;
  top: -5em;
}
.write-a-review {
  color: #2086c1;
}

.store-5-item-button {
  flex-basis: 30%;
  color: var(--light-gray-color);
  font-size: 0.7em;
  text-align: right;
  border-radius: 10px;
  border: 1px solid var(--main-gray-color);
}

.store-5-item-button:focus {
  border: 1px solid var(--main-green-color);
  background-color: #f0f2ea;
}

.store-5-item-button-img img {
  width: 6em;
}

.payment-logo img {
  max-width: 2em;
}

/* MODAL */

.modal-store-checkout-container {
  width: 100%;
  height: 100%;
  background-image: url('images/dandelion.jpg');
}

.modal-store-checkout-title {
  font-size: 8em;
  font-family: ArabicBold;
}

.modal-store-checkout-subtitle {
  
}