.product-1-initial-header {
  background-size: cover;
  background-image: url('../../images/product-1-header.jpg');
}

.product-slider {
  flex-basis: 90%;
  margin-left: 2em;
  height: 60vh;
}

.product-slider img {
  max-height: 100%;
}

.buttons {
  width: 100%;
}

/* BENEFITS SECTION */

.benefits-section {
  background: var(--light-gold-color);
}

.benefits-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30%;
  margin: 1em 0;
}

.benefits-item-icon {
  width: 100px;
  height: 100px;
  background: var(--main-gray-color);
}

/* POWER SECTION */

.power-section {
  padding-left: 5em;
  background: lightgray;
}

.power-desctiption {
  width: 50vw;
}

.power-image {
  width: 40vw;
  height: 40vw;
  overflow: hidden;
  margin-left: 2em;
  background-image: url('../../images/product-1-power.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* COMPONENTS SECTION */

.components-section {
  background: lightgray;
}

.components-description {
  position: relative;
  z-index: 3;
}

.components-description hr {
  width: 110%;
}

.components-description hr.hr-left {
  position: relative;
  left: 10%;
}

.hr-pointer {
  position: relative;
}

.hr-point {
  background: #000000;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: -0.4em;
}

.hr-point-left {
  right: -11%;
}

.hr-point-right {
  left: -11%;
}

.components-image {
  margin-left: 2em;
}

.components-image img {
  max-width: 40vw;
  height: auto;
}

/* CONTACT SECTION */

.contact-section {
  background: var(--main-green-color);
  color: #ffffff;
}

.contact-section textarea {
  resize: none;
  width: 100%;
}

.contact-stamp {
  margin-right: 2em;
}

.contact-items {
  width: 50%;
}

/* HOW TO USE SECTION */

.how-to-use-section {
  padding-right: 5em;
  background: var(--light-green-color);
}

.how-to-use-desctiption {
  width: 50vw;
  padding-left: 2em;
}

.how-to-use-image {
  width: 40vw;
  height: 40vw;
  overflow: hidden;
  background-image: url('../../images/product-2-how-to-use.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* PRODUCT REVIEW SECTION */

.product-review-header {
  margin: 2em 0;
  height: 3em;
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.product-review-header-section-1 {
  color: #ffffff;
  padding: 0 5em;
  height: 3em;
  background: var(--main-gold-color);
  border-radius: 5px;
  position: relative;
  z-index: 3;
}

.product-review-header-section-2 {
  color: #ffffff;
  padding: 0 5em;
  height: 3em;
  background: #a9a9a9;
  border-radius: 5px;
  position: relative;
  left: -15px;
}

.product-review-header-section-3 {
  text-align: right;
  margin-right: 1em;
}

.product-review-header-section-3 i {
  border-left: 1px solid var(--main-gray-color);
  padding-left: 0.5em;
  margin-left: 0.5em;
}

.product-review-image {
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  background: var(--main-gold-color);
  border-radius: 50%;
  color: #ffffff;
  font-size: 2em;
  margin-right: 1em;
  margin-top: 0.5em;
}

.product-review-verified {
  width: 1em;
  height: 1em;
  border: 1px solid var(--main-blue-color);
  border-radius: 50%;
}

.product-review-description {
  line-height: 1.3em;
}

.product-review-buttons button {
  background: #ededed;
  color: var(--main-gray-color);
  margin-right: 0.5em;
}

/* FOOTER */

.footer-product-1 {
  color: #ffffff;
  background-image: url('../../images/product-1-header.jpg');
  background-position: bottom;
  background-size: 100% auto;
}