.store-checkout-1-initial-header {
  background-size: cover;
  background-image: url('../../images/store-checkout-1-header.png');
}

.header-store-checkout-1-bg {
  height: 60vh;
  background-image: url('../../images/store-checkout-1-bg.png');
}

.store-checkout-1-header-title {
  height: 100%;
  color: #ffffff;
  font-size: 5em;
}

.footer-store-checkout-1 {
  color: #ffffff;
  background-image: url('../../images/store-checkout-1-header.png');
  background-position: bottom;
  background-size: 100% auto;
}

/* ABOUT SECTION */

.about-container-image {
  height: 25vh;
  width: 100%;
  position: relative;
  top: -12vh;
  margin-bottom: -12vh;
}

.about-container-image img {
  max-height: 80%;
  width: auto;
}

.about-container {
  width: 80%;
}

.about-description {
  padding: 0 0 2em 0;
}

.about-title {
  color: var(--main-green-color);
}

.about-products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  grid-gap: 10px;
}

.about-products-container > .about-product {
  padding: 1em;
  margin: 1em;
}

.about-product-description {
  flex-basis: 60%;
  flex-shrink: 0;
}

.about-product-description-title {
  font-size: 1.5em;
}

.about-product-image img {
  max-width: 15em;
  position: relative;
  left: -4em;
  top: -1em;
}

/* GUARANTEE SECTION */

.guarantee-section {
  background: var(--light-gold-color);
}

.guarantee-container {
  width: 30%;
}

.guarantee-description {
  margin-bottom: 1em;
}

/* CONTACT SECTION */

.contact-section {
  background: var(--main-green-color);
  color: #ffffff;
}

.contact-section textarea {
  resize: none;
  width: 100%;
}

.contact-stamp {
  margin-right: 2em;
}

.contact-items {
  width: 50%;
}