.home-about-1-bg {
  height: 2em;
  background-size: cover;
  background-image: url('../../images/home-about-1-about-more-bg.jpg');
}

.header-home-about-1-bg {
  height: 60vh;
  background-image: url('../../images/home-about-1-header.png');
}

.home-about-1-header-title {
  height: 100%;
  color: #ffffff;
  font-size: 5em;
}

.home-about-1-header-title div {
  padding: 1em;
}

.footer-home-about-1 {
  color: #ffffff;
  background-image: url('../../images/home-about-1-about-more-bg.jpg');
  background-position: bottom;
  background-size: 100% auto;
}

/* ABOUT SECTION */

.about-container-image {
  height: 25vh;
  width: 100%;
  position: relative;
  top: -18vh;
  margin-bottom: -20vh;
}

.about-container-image img {
  height: 100%;
  width: auto;
}

.about-container {
  width: 80%;
}

.about-description {
  padding: 0 0 2em 0;
}

.about-title {
  margin-top: 2em;
  color: var(--main-green-color);
}

.about-products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px 1px;
  grid-template-areas: '. .' '. .' '. .';
}

.about-products-container > .about-product {
  padding: 1em;
  margin: 1em;
  border: 1px solid var(--main-green-color);
}

.about-product-description-title {
  font-weight: 600;
}

.about-product-description {
  width: 55%;
}

.about-product-image {
  margin-left: 1em;
  width: 40%;
  height: 100%;
  background: var(--main-green-color);
}

/* ABOUT MORE SECTION */

.about-more-section {
  background-image: url('../../images/home-about-1-about-more-bg.jpg');
}

.about-more-section .container {
  width: 30%;
}

.about-more-description {
  margin-bottom: 1em;
}

/* INGREDIENTS SECTION */

.ingredients-section {
  padding-left: 5em;
}

.ingredients-desctiption {
  width: 50vw;
}

.ingredients-image {
  width: 40vw;
  height: 40vw;
  overflow: hidden;
  margin-left: 2em;
  background-image: url('../../images/home-about-ingredients.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
